@model IEnumerable<dotnetapp.Models.Department>
    <h2>Department Details</h2>
    <br>
    @Html.ActionLink("Add Department","Create","Dept")
    <br>
    <div class="table">
        
        <tr>
            <th>@Html.DisplayNameFor(m=>m.DepartmentId)</th>
            <th>@Html.DisplayNameFor(m=>m.Name)</th>
            <th>Actions</th>
        </tr>
        <hr>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.DepartmentId</td>
                    <td>@item.Name</td>
                    
                    <td><a class="btn btn-secondary" href="/Employee/Edit" />Edit</td>
                    <td><a class="btn btn-danger" href="/Employee/Delete" />Delete</td>
                </tr>
            }
        </tbody>
    </div>