@model dotnetapp.Models.Employee
<h2>Add Employee</h2>
<br>
@using(Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.DisplayNameFor(m=>m.FirstName)
            @Html.EditorFor(m=>m.FirstName)
        </div>
        <br>
        <div class="form-group">
            @Html.DisplayNameFor(m=>m.LastName)
            @Html.EditorFor(m=>m.LastName)
        </div>
        <br>
        <div class="form-group">
            @Html.DisplayNameFor(m=>m.DepartmentId)
            @Html.DropDownListFor(m=>m.DepartmentId, (SelectList)ViewBag.DeptId, "Select Department", new { @class = "form-control"})
        </div>
        <br>
        
    </div>
    <br>
    <br>
    <input type="submit" value="Create" class="btn btn-primary" />
    
}