@model dotnetapp.Models.Employee
<h2>Edit Employee</h2>
<hr>
<br>
@using(Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="from-group">
            @Html.DisplayNameFor(m=>m.FirstName)
            @Html.EditorFor(m=>m.FirstName)
        </div>
        <br>
        <div class="from-group">
            @Html.DisplayNameFor(m=>m.LastName)
            @Html.EditorFor(m=>m.LastName)
        </div>
        <br>
        <div class="from-group">
            @Html.DisplayNameFor(m=>m.DepartmentId)
            @Html.EditorFor(m=>m.DepartmentId)
        </div>
        <br>
        <br>
    </div>
    <br>
    <input type="submit" value="Edit" class="btn btn-primary" />
}
