@model IEnumerable<dotnetapp.Models.Employee>
    <h2>Employee Details</h2>
    <br>
    @Html.ActionLink("Add Employee","Create","Employee")
    <br>
    <div class="table">
        
        <tr>
            <th>@Html.DisplayNameFor(m=>m.EmployeeId)</th>
            <th>@Html.DisplayNameFor(m=>m.EmployeeName)</th>
            <th>@Html.DisplayNameFor(m=>m.EmployeeLastName)</th>
            <th>@Html.DisplayNameFor(m=>m.DepartmentName)</th>
            <th>Actions</th>
        </tr>
        <hr>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.EmployeeId</td>
                    <td>@item.EmployeeName</td>
                    <td>@item.EmployeeLastName</td>
                    <td>@item.DepartmentName</td>
                    <td><a class="btn btn-secondary" href="/Employee/Edit" />Edit</td>
                    <td><a class="btn btn-danger" href="/Employee/Delete" />Delete</td>
                </tr>
            }
        </tbody>
    </div>